@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul, ol {
  list-style: none;
}

.maincontent {
  flex: 1 0;
}

.footer {
  background: #eff1f9;
  text-align: center;
  padding: 10px 0;
}

.copyright {
  color: #162240;
  font-size: 0.815rem;
}
a {
  display: block;
}

/**
* header
*/

.header {
  background: #eff1f9;
  padding: 10px;
  display: flex;
  align-items: center;
}

.page-nav {
  margin-left: auto;
}

.mobile-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__link {
  display: flex;
  align-items: center;
}

/**
* special
**/

.special__item {
  border-top: 1px solid rgba(22,34,64, .1);
  border-left: 1px solid rgba(22,34,64, .1);
  border-right: 1px solid rgba(22,34,64, .1);
  width: 100%;
  background: #f7f8fc;
  padding: 45px 10px;
  text-align: center;
  transition: background .2s ease-in-out;
}

.special__item:last-child {
  border-bottom: 1px solid rgba(22,34,64, .1);
}

.special__img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
}

.special__img > img {
  margin: auto;
}


.special__title {
  margin-top: 15px;
  color: #666;
  font-size: 1.625rem;
  letter-spacing: 0.2px;
  transition: color .2s ease-in-out;
}

.special__desc {
  margin-top: 7px;
  color: rgba(102,102,102, .75);
  font-weight: 300;
  letter-spacing: 0.1px;
  transition: color .2s ease-in-out;
}

.nav__desc{
  display: flex;
  background: #eff1f9;
  border: 5px;
  transform: translateY(-130%);
  position: relative;
  width: 0px;
  height: 0px;
  transition: all .2s ease-in;
}

input{
  display: none;
}

#button:checked ~ .mobile-btn .nav__desc {
    transform: translateY(0);
    position: absolute;
    top:10px;
    right:30px;
    width: auto;
    height: auto;
}

label{
  z-index: 1;
}

.nav__list{
  flex-flow: column-reverse nowrap;
  align-items: center;
  position: relative;
  z-index: 2;
}

.nav__item{
  list-style: none;
  text-transform: uppercase;
  text-align: right;
  font-size: 18px; 
  line-height: 1.25em;
  padding: 10px;

}

.nav__item a{
  text-decoration: none;
  color: #fff;
}

.nav__item a:visited {
  color: #ffd21d;
}

.nav__item:hover {
  background-color:#F7F7FC;
  margin: 0px;
  padding: 10px;
  
}
