body{
	background-color: #e3e3e3;
	text-indent: 1.875rem;
}
.top_space{
	padding-top: 3.125rem;
}
.block{
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
	font-family: Helvetica, sans-serif; 
	display: block;
	text-align: left;
}
h1{
	text-align: center;
	line-height: 1.875rem;
}
.main-photo{
	float: left;
	padding-left: 1.875rem;
}
	
}
.main-info{
	text-align: left;
	list-style: none;
}
.clear{
	clear: both;
}
p{
	margin:5px; 
		 }
}
.left-column{
	text-align: right;
	float: left;
}
.right-column{
	text-align: left;
	margin: -2.7em 1em 1em 6.5em;

}
.right-column p{
	text-indent: 0;
}
.disk{
	text-indent: 2.475em;
	margin-left: 4em;
}
.Net{
		font-weight: bold;
		font-size: 1.5em;
		 }
.nav-link{
	
}